.blog-wrapper {
  .blog-item {
    padding-bottom: 2em;
  }
  .post-date {
    font-weight: 700;
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .blog-item--content {
    h3 {
      margin-top: 0;
    }
    .person {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-bottom: -5px;
      border: 2px solid $color-one;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        &.tag-label {
          background: $color-one;
          padding: 2px 5px;
          border-radius: 3px;
          font-size: .8rem;
          a, a:visited {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    .blog-item--image {
      @include grid-span(4, 1);
    }
    .blog-item--content {
      @include grid-span(8, 5);
    }
  }
}
