.store-wrapper {
  text-align: center;
  .product-item {
    padding-bottom: 2em;
    text-align: left;
    @include breakpoint($bp-medium) {
      display: inline-block;
      width: 48%;
      vertical-align: top;
      padding: 0 1% 3em;
    }
    @include breakpoint($bp-large, $no-query: '.no-mq') {
      width: 33%;
    }
    a {
      text-decoration: none;
      color: inherit;
          cursor: pointer;
    }
  }
  .product-date {
    font-weight: 700;
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .product-item--content {
    background: #ECECEC;
    padding: 1em 2em;
  }
  .product-item--image {
    line-height: 0;
  }
  .store-group-labels {
    padding: 2em 0;
    text-align: center;
  }

  .gift-card {
    @include clearfix;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    .product-item--image {
      @include breakpoint($bp-large, $no-query: '.no-mq') {
        float: left;
        width: 50%;
      }
      .snipcart-add-item {
        padding: 0;
        border: 0;
      }
    }
    .gift-card-content {
      text-align: left;
      padding: 1em;
      @include breakpoint($bp-large, $no-query: '.no-mq') {
        float: right;
        width: 50%;
        padding: 2em;
      }
    }
  }
}

.store--details {
    ul {
        list-style-image: url('/assets/images/star.svg');
    }
}
