.store-wrapper {
  text-align: center;
  .product-item {
    padding-bottom: 2em;
    text-align: left;
    @include breakpoint($bp-medium) {
      display: inline-block;
      width: 48%;
      vertical-align: top;
      padding: 0 1% 3em;
    }
    @include breakpoint($bp-large, $no-query: '.no-mq') {
      width: 33%;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .product-date {
    font-weight: 700;
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .product-item--content {
    background: #ECECEC;
    padding: 1em 2em;
  }
  .product-item--image {
    line-height: 0;
  }
  .store-group-labels {
    padding: 2em 0;
    text-align: center;
  }


}
