.team-list {
  padding-top: 2em;
  .person {
    padding-bottom: 3em;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        display: inline-block;
        width: 46%;
        padding-right: 2em;
        vertical-align: top;
      }
    img {
      width: 90px;
      height: auto;
      float: left;
      @include breakpoint($bp-medium, $no-query: ".no-mq") {
        width: 150px;
      }
    }
  }
  .info {
    overflow:hidden;
    padding-left: 1.5em;
    h4 {
      text-transform: uppercase;
      color: $color-one;
      font-size: 1.2em;
      margin: 0 0 .5em;
    }
  }
}
.about-logos {
    text-align: center;
    position: relative;
    img {
        margin-left: auto;
        margin-right: 20px;
        vertical-align: middle;
    }
}
