.team-list {
  padding-top: 2em;
  .person {
    padding-bottom: 3em;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        float: left;
        width: 50%;
        padding-right: 2em;
      }
    img {
      width: 150px;
      height: auto;
      float: left;
    }
  }
  .info {
    overflow:hidden;
    padding-left: 1.5em;
    h4 {
      text-transform: uppercase;
      color: $color-one;
      font-size: 1.2em;
      margin: 0 0 .5em;
    }
  }
}
