h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

@include breakpoint($bp-small-down) {
  h1 { font-size: 1.7em; }
  h2 { font-size: 1.4em; }
  h3 { font-size: 1.3em; }
  h4 { font-size: 1.3em; }
  h5 { font-size: 1.2em; }
  h6 { font-size: 1em; }
}

h1, h2, h3, h4, h5, h6 {
  margin: $rem 0;
  line-height: 1.3;
  font-family: $heading-font-family;
}

.section-title {
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0 0 .2em;
  font-weight: 700;
  line-height: 1;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    font-size: 3.5em;
  }
}
.front {
  .section-title {
    font-size: 2.2em;
    margin: 0;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      font-size: 3.2em;
    }
  }
}
.section-subtitle {
    color: #A7A7A7;
    font-weight: 300;
    font-size: 1.5em;
    margin: -3px 0 0;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
    font-size: 2.2em;
  }
}

.headings {
  position: relative;
  &:before {
    content: '';
    background: $color-one;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2em;
    left: -80%;
  }
}

.postscript {
  .headings {
    &:before {
      bottom: auto;
      top: -40px;
    }
  }
}

.intro-text {
  font-size: 1.2em;
  padding-top: 0.2em;
  line-height: 1.5;
}