<footer class="wrap site-footer clearfix">
  <div class="footer-block footer-block-1">
    <h6>Greeley</h6>
    <p>3620 35th Ave #3<br> Evans, CO 80620<br> 
    970-619-9863</p>
  </div>
  <div class="footer-block footer-block-2">
    <h6>Loveland</h6>
    <p>3620 35th Ave #3<br>Evans, CO 80620<br> 
    970-619-9863</p>
  </div>
  <div class="copy-footer-block footer-block-3">
    <p>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
    <p>Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
  </div>
</footer>
