<header itemscope class="wrap clearfix">
  <!-- Logo -->
  <div class="site-name logo">
    <a href="/"><img src="/assets/images/logo.svg" alt="{{site.title}}"></a>
    <a href="/locations/longmont">
      <img src="/assets/images/locations/Sunstoppers_Trasparent-Longmont-logo.png"
        alt="Sun Stoppers Longmont, Colorado logo">
    </a>
  </div>
  <!-- Menu and Mobile Menu BTN -->
  <div class="menu-btn"><img src="/assets/images/menu.png"></div>
  <nav class="main-nav">
    {% include nav.html %}
  </nav>
</header>