<ul class="menu">
  <li class="first">
    <a href="/gallery/">Gallery</a>
  </li>
  <li class="has-submenu">Services
    <ul class="menu">
      <li class="first">
        <a href="/service-packages/">
          <img src="https://source.unsplash.com/random/600x320" />
          <span>Packages</span>
        </a>  
      </li>
      <li>
        <a href="/surface-coatings/">
          <img src="/assets/images/menu/ceramic.jpg" />
          <span>Surface Coatings</span>  
        </a>
      </li>
      <li>
        <a href="/prestige-detailing/">
          <img src="/assets/images/menu/detail.jpg" />
          <span>Prestige Detailing</span> 
        </a>  
      </li>
      <li>
        <a href="/window-tint/">
          <img src="/assets/images/menu/tint.jpg" />
          <span>Window Tint</span> 
        </a>  
      </li>
      <li >
        <a href="/clear-bra-protection/">
          <img src="/assets/images/menu/clearbra.jpg" />
          <span>Clear Bra Protection</span> 
        </a>  
      </li>
      <li>
        <a href="/bray-windshield-skin/">
          <img src="/assets/images/menu/windshield.jpg" />
          <span>Bray Windshield Skin</span>
        </a>  
      </li>
    </ul>
  </li>
  <li>
    <a href="/blog/">Blog</a> 
  </li>
  <li>
    <a href="/about/">About</a>    
  </li>
  <li class="has-submenu">
    <span class="nolink">Locations</span>   
    <ul class="menu">
      <li>
        <a href="/greeley-colorado/">
          <img src="/assets/images/menu/windshield.jpg" />
          <span>Greeley</span>
        </a>
      </li>
    
      <li>
        <a href="/loveland-colorado/">
          <img src="/assets/images/menu/windshield.jpg" />
          <span>Loveland</span>
        </a>    
      </li>
    </ul>
  </li>
  <li class="first">
    <a href="/store/">Store</a>  
  </li>
  <li class="first">
    <a href="/contact/">Contact</a>
  </li> 
</ul>