<!-- Load JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/prod/jquery-1-11-1.min.js"><\/script>')</script>
<!-- Vide JS Script for home page -->
{% if page.url == "/" %}
  <script src="/assets/js/prod/jquery.vide.js"></script>
{% endif %}
<!-- Slick Gallery for Home -->
{% if page.url == "/" %}
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
{% endif %}
<!-- ScrollReveal Library -->
<script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
<!-- Featherlight Library -->
<script src="//cdn.rawgit.com/noelboss/featherlight/1.6.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<!-- ScrollReveal Inits -->
<script type="text/javascript">
  window.sr = ScrollReveal({ reset: true });
  sr.reveal('header.wrap', { delay: 80, duration: 900, origin: 'top', scale: 1, });
  sr.reveal('.headings', { delay: 80, duration: 400, origin: 'top', scale: 1, });
  sr.reveal('.intro-text', { delay: 80, duration: 400, origin: 'top', scale: 1, });
  sr.reveal('.preface .wrap .location-block', { delay: 140, duration: 900, origin: 'top', scale: 1, }, 200);
  sr.reveal('.gallery-slider', { delay: 140, duration: 900, origin: 'top', scale: 1, });
  sr.reveal('.car-side', { delay: 600, duration: 1500, origin: 'top', scale: 1, });
  sr.reveal('.service-list-wrap .service-item', { delay: 140, duration: 900, origin: 'top', scale: 1, }, 200);
  sr.reveal('.postscript .service-info', { delay: 140, duration: 900, origin: 'top', scale: 1, });
  sr.reveal('.person', { delay: 140, duration: 900, origin: 'top', scale: 1, }, 200);
</script>

<!-- Custom JS -->
<script src="/assets/js/prod/scripts.js"></script>

{% if site.google_analytics_tracking_id %}
  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
