<!-- Load JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/prod/jquery-1-11-1.min.js"><\/script>')</script>


<!-- Snipcart JS -->
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart"
  data-api-key="{{ site.snipcart-key}}"></script>

{% if page.url == "/" %}
<script src="/assets/js/prod/jquery.vide.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    // Target your .container, .wrapper, .post, etc. around the video
    $(".videobg").fitVids();
  });
</script>

<!-- Slick Gallery for Home -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<!-- Slick Init -->
<script>
  $(document).ready(function () {
    // Slick Init for Home Page
    $('.gallery-slider').slick({
      centerMode: false,
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        },
        {
          breakpoint: 900,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 320,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  });
</script>

{% endif %}

<!-- ScrollReveal Library -->
<script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>


{% if page.url != "/" %}
<!-- Featherlight Library -->
<script src="/assets/js/dev/featherlight.min.js"></script>
{% endif %}

<!-- ScrollReveal Inits -->
<script type="text/javascript">
  window.sr = ScrollReveal({ reset: true });
  sr.reveal('header.wrap', { delay: 80, duration: 900, origin: 'top', scale: 1, });
  sr.reveal('.headings', { delay: 80, duration: 400, origin: 'top', scale: 1, });
  sr.reveal('.intro-text', { delay: 80, duration: 400, origin: 'top', scale: 1, });
  sr.reveal('.preface .wrap .location-block', { delay: 140, duration: 900, origin: 'top', scale: 1, }, 200);
  sr.reveal('.gallery-slider', { delay: 140, duration: 900, origin: 'top', scale: 1, });
  sr.reveal('.car-side', { delay: 600, duration: 1500, origin: 'top', scale: 1, });
  sr.reveal('.service-list-wrap .service-item', { delay: 140, duration: 900, origin: 'top', scale: 1, }, 200);
  sr.reveal('.postscript .service-info', { delay: 140, duration: 900, origin: 'top', scale: 1, });
  sr.reveal('.person', { delay: 140, duration: 900, origin: 'top', scale: 1, }, 200);
</script>



{% if page.permalink == "/contact/" %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}
{% if page.permalink == "/request-a-quote/" %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}

<!-- Custom JS -->
<script src="/assets/js/prod/scripts.js"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
{% if page.url != "/" %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58af7cca5245f57c"></script>
{% endif %}


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9JCGQ2123Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-9JCGQ2123Q');
</script>
<script>
  const path = window.location.pathname;
  if (path === "/locations/greeley/") {
    // Greeley Location Page Google Tag Script
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-9JCGQ2123Q');
    gtag('event', 'ads_conversion_Contact_Us_1', {})

  } else if (path === "/locations/longmont/") {
    // Longmont Location Page Google Tag Script
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-9JCGQ2123Q');
    gtag('event', 'ads_conversion_Contact_Us_1', {})

  } else {
    // All Other Pages Google Tag Script
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-9JCGQ2123Q');

  }
</script>



<!-- <script type='text/javascript'
  data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '3aa1a76a-da92-49cf-9872-0f917fdc2d72', f: true }); done = true; } }; })();</script> -->