.book-appointment-banner {
  /* Rectangle 3: */
  background-image: linear-gradient(-180deg, #d5121a 0%, #880409 91%);
  text-align:center;
  padding: 3em 1em;
  h4 {
    font-size: 1em;
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 4px solid #fff;
    padding: 1em 2em;
    font-size: 1em;
  }
}
.book-fixed {
  position: fixed;
  z-index: 11111;
  top: 0;  
  width: 100%;
 @include breakpoint($bp-medium, $no-query: '.no-mq') {
   top: auto;
   right: 10%;
   bottom: 10%;
   width: auto;
 }
  span {
    background: $color-one;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.23);
    border-radius: 2px;
    font-family: $heading-font-family;
    padding: 0.75em 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {

    }
  }
}

.book-apt-modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 50px;
  max-width: 700px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  padding: 2em 1em;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
  z-index:99999;

}

.modal-open {
  opacity: 1;
  visibility: visible;
}

.overlay.overlay-show {
    position: absolute;
    content: '';
    width: 100%;
    height: 1000%;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
  }
