@keyframes FadeIn { 
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes FadeOut { 
  0% {
    transform: scale(1);
  }

  85% {
    opacity: 0;
    transform: scale(.1);
  }
  100% {
    transform: scale(0);
  }
}

.menu {
  padding: 0;
  margin: 0;
  font-family: $heading-font-family;
  font-size: 92%;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    text-align: right;
    padding-top: 1.5em;
  }
  li {
    list-style: none;
    margin: 0;
    display: block;
    padding: 0;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      display: inline-block;
      vertical-align: top;
      padding-right: 2em;
    }
    &.has-submenu {
      font-weight: 700;
      font-size: 1em;
      transition: color .5s ease;
      color: #4A4A4A;
      text-transform: uppercase;
      opacity: 1;
        transition: all .5s linear;
        visibility: visible;
      a {
        background: #000;
      }

    }
    a {
      font-weight: 700;
      font-size: 1em;
      transition: color .5s ease;
      padding: .5em 0;
      display: block;
      color: #4A4A4A;
      text-transform: uppercase;
      transition: margin-top .25s ease;
      margin-top: 0;
      
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        padding: 0;
      }
      img {
        opacity: 1;
        transition: opacity .25s ease;
      }
      &:active {
        top: 1px;
        position: relative;
      }
    }
    ul {
      position: absolute;
      width: 200px;
      opacity: 0;
      background: rgba(0,0,0,0.9);
      width: 100%;
      left: 0;
      z-index: 9;
      margin-top: 30px;
      padding:2em;
      text-align: left;
      transition: all .5s linear;
      visibility: hidden;
      li {
        width: 33%;
        padding: 2%;
        opacity: 0;
        margin-top: -60px;
        animation: FadeOut .5s linear;
        a {
          position: relative;
          line-height: 0;
          span {
            position: absolute;
            text-shadow: 0 1px 11px rgba(0,0,0,0.75);
            bottom: 0;
            padding: 0em 1em 1.5em;
            font-size: 1.4em;
          }
          &:hover {
            transition: margin-top .25s ease;
            margin-top: -5px;
            img {
              transition: opacity .25s ease;
              opacity: 0.7;
            }
          }
        }

      }
      a {
        color: #fff;
      }
    }
    &.submenu--open {
      ul {
        opacity: 1;
        transition: all .5s linear;
        visibility: visible;
        li {
          opacity: 1;
          margin-top: 0;
          animation: FadeIn .5s linear;
        animation-fill-mode:both;
          &:nth-child(2){
            animation-delay: .25s
          }
          &:nth-child(3){
            animation-delay: .5s
          }
          &:nth-child(4){
            animation-delay: .75s
          }
          &:nth-child(5){
            animation-delay: 1s
          }
          &:nth-child(6){
            animation-delay: 1.25s
          }
        }
      }
    }
  }
  a, a:visited {
    text-decoration: none;
  }
  li li {
    padding: 0;
  }
}
.main-nav .menu {
  //max-height: 0;
  overflow: hidden;
  transition: all .5s ease;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    //max-height: none;
  }
  &.show {
    max-height: 5000px;
    padding-top: 1em;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      max-height: none;
    }
  }
}
.menu-btn {
  position: absolute;
  right: 10px;
  top: -3px;
  padding: 1em;
  cursor: pointer;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    display: none;
  }
  img {
    padding-right: .5em;
  }
}
.no-js .menu-btn {
  display: none;
}
