ul.footer-social {
    list-style-type: none;
    margin: .6em 0 0 0;
    padding: 0;
    display: block;
    li {
        display: inline-block;
        margin-left: 1.5em;
        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            height: 50px;
            width: 50px;
            color: #fff;
            fill: #fff;

            transition: all .5s, transform .5s ease-out;
            &:hover {
                border-radius: 10%;
                 color: #000; // IE8
                 fill: #000;
                 transform: scale(1.25);
                 transition: all .5s, transform .5s ease-out;
                 background: #fff;
            }
        }
    }
}
