/* validation Colors */
/* line 2, ../sass/partials/global/_extendables.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 7, ../sass/partials/global/_extendables.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../sass/partials/styleguide/type/_base-type.scss */
html {
  font: normal 100%/1.65 "source-sans-pro", sans-serif;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

/* line 6, ../sass/partials/styleguide/type/_base-type.scss */
body {
  color: #3d3d3d;
}

/* line 10, ../sass/partials/styleguide/type/_base-type.scss */
p {
  margin: auto auto 1.5em;
}
/* line 14, ../sass/partials/styleguide/type/_base-type.scss */
p + p {
  margin-top: -0.5em;
}

/* line 1, ../sass/partials/styleguide/type/_headings.scss */
h1 {
  font-size: 2em;
}

/* line 2, ../sass/partials/styleguide/type/_headings.scss */
h2 {
  font-size: 1.8em;
}

/* line 3, ../sass/partials/styleguide/type/_headings.scss */
h3 {
  font-size: 1.4em;
}

/* line 4, ../sass/partials/styleguide/type/_headings.scss */
h4 {
  font-size: 1.3em;
}

/* line 5, ../sass/partials/styleguide/type/_headings.scss */
h5 {
  font-size: 1.2em;
}

/* line 6, ../sass/partials/styleguide/type/_headings.scss */
h6 {
  font-size: 1em;
}

@media (min-width: 0) and (max-width: 37.5em) {
  /* line 9, ../sass/partials/styleguide/type/_headings.scss */
  h1 {
    font-size: 1.7em;
  }

  /* line 10, ../sass/partials/styleguide/type/_headings.scss */
  h2 {
    font-size: 1.4em;
  }

  /* line 11, ../sass/partials/styleguide/type/_headings.scss */
  h3 {
    font-size: 1.3em;
  }

  /* line 12, ../sass/partials/styleguide/type/_headings.scss */
  h4 {
    font-size: 1.3em;
  }

  /* line 13, ../sass/partials/styleguide/type/_headings.scss */
  h5 {
    font-size: 1.2em;
  }

  /* line 14, ../sass/partials/styleguide/type/_headings.scss */
  h6 {
    font-size: 1em;
  }
}
/* line 17, ../sass/partials/styleguide/type/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 16px 0;
  line-height: 1.3;
  font-family: "brandon-grotesque", sans-serif;
}

/* line 23, ../sass/partials/styleguide/type/_headings.scss */
.section-title {
  text-transform: uppercase;
  font-size: 2.4em;
  margin: 0;
}

/* line 28, ../sass/partials/styleguide/type/_headings.scss */
.section-subtitle {
  color: #A7A7A7;
  font-style: italic;
  margin: 0 0 0;
  font-weight: normal;
  font-size: 2em;
  margin: 0;
}

/* line 37, ../sass/partials/styleguide/type/_headings.scss */
.headings {
  position: relative;
}
/* line 39, ../sass/partials/styleguide/type/_headings.scss */
.headings:before {
  content: '';
  background: #d5121a;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2em;
  left: -80%;
}

/* line 52, ../sass/partials/styleguide/type/_headings.scss */
.postscript .headings:before {
  bottom: auto;
  top: -40px;
}

/* line 1, ../sass/partials/styleguide/type/_links.scss */
a {
  color: #0f7abd;
}
/* line 3, ../sass/partials/styleguide/type/_links.scss */
a:hover {
  color: #1398ec;
}
/* line 6, ../sass/partials/styleguide/type/_links.scss */
a:visited {
  color: #0b5b8e;
}

/* line 12, ../sass/partials/styleguide/type/_links.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 18, ../sass/partials/styleguide/type/_links.scss */
div.btn {
  display: inline-block;
}
/* line 20, ../sass/partials/styleguide/type/_links.scss */
div.btn a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #d5121a;
  border: 1px solid #bd1017;
  border-radius: 0;
  color: white;
  cursor: pointer;
  padding: .45em 1em .3em;
  font-size: 90%;
  font-weight: 700;
  font-family: "brandon-grotesque", sans-serif;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  text-transform: uppercase;
}
/* line 58, ../sass/partials/global/_mixins.scss */
div.btn a:hover {
  background-color: #cc1119;
}
/* line 29, ../sass/partials/styleguide/type/_links.scss */
div.btn a:hover {
  margin-top: -0.15em;
  margin: -0.15em 0 0.15em;
}

/* line 38, ../sass/partials/styleguide/type/_links.scss */
div.btn.outline a {
  display: block;
  background: #fff;
  border: 3px solid #d5121a;
  color: #d5121a;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 44, ../sass/partials/styleguide/type/_links.scss */
div.btn.outline a:hover {
  background: #d5121a;
  color: #fff;
}

/* line 1, ../sass/partials/styleguide/media/_images.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/partials/styleguide/media/_videos.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* line 7, ../sass/partials/styleguide/media/_videos.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/partials/styleguide/forms/_inputs.scss */
input[type="text"], input[type="email"], input[type="name"], input[type="password"], input[type="file"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em 1em;
  font-size: 100%;
  font-family: "source-sans-pro", sans-serif;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  margin-bottom: .5em;
}
/* line 9, ../sass/partials/styleguide/forms/_inputs.scss */
input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="name"]:active, input[type="name"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="file"]:active, input[type="file"]:focus {
  border: 1px solid #d5121a;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 1, ../sass/partials/styleguide/forms/_textarea.scss */
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  font-size: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  font-family: "source-sans-pro", sans-serif;
}
/* line 9, ../sass/partials/styleguide/forms/_textarea.scss */
textarea:active, textarea:focus {
  border: 1px solid #d5121a;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 1, ../sass/partials/styleguide/forms/_buttons.scss */
input[type="submit"] {
  background-color: #999999;
  border: 1px solid #6286bd;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: .45em 1em .3em;
  font-size: 100%;
  font-weight: 700;
  font-family: "brandon-grotesque", sans-serif;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 0px 0px white;
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 0px 0px white;
  border-radius: 3px;
  padding: 10px 25px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: .8em;
  color: #373737;
  cursor: pointer;
}
/* line 58, ../sass/partials/global/_mixins.scss */
input[type="submit"]:hover {
  background-color: #949494;
}

/* line 2, ../sass/partials/styleguide/forms/_label.scss */
form label {
  font-weight: normal;
  font-size: 110%;
  padding-bottom: .5em;
  display: inline-block;
  min-width: 55px;
}
/* line 10, ../sass/partials/styleguide/forms/_label.scss */
form .description {
  font-size: 85%;
  margin: 1em 0;
}

/* line 1, ../sass/partials/styleguide/forms/_fieldsets.scss */
fieldset {
  border-radius: 3px;
  padding: 1em 1.5em;
}
/* line 5, ../sass/partials/styleguide/forms/_fieldsets.scss */
fieldset .fieldset-legend a {
  text-decoration: none;
}

/* line 1, ../sass/partials/styleguide/misc/_table.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 5, ../sass/partials/styleguide/misc/_table.scss */
table tr {
  padding: 0;
}
/* line 7, ../sass/partials/styleguide/misc/_table.scss */
table tr.odd {
  background-color: #f7f7f7;
  border-bottom: 0;
}
/* line 11, ../sass/partials/styleguide/misc/_table.scss */
table tr.even {
  background-color: white;
  border-bottom: 0;
}
/* line 16, ../sass/partials/styleguide/misc/_table.scss */
table td {
  padding: 0.5em 2em;
  margin: 0;
}

/* line 24, ../sass/partials/styleguide/misc/_table.scss */
table.sticky-enabled thead th, table.sticky-header thead th {
  border-bottom: 3px solid #0f7abd;
  padding: 1em 0 1em 2em;
}

/* line 1, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #d68603;
}
/* line 5, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager li {
  display: inline-block;
  list-style: none;
  padding-right: .5em;
  color: #0f7abd;
}
/* line 10, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager li a:visited {
  color: #0f7abd;
}

/* line 2, ../sass/partials/design/blocks/_logo.scss */
.logo img {
  display: block;
  margin: 0 auto 0 auto;
}
@media (min-width: 50em) {
  /* line 2, ../sass/partials/design/blocks/_logo.scss */
  .logo img {
    margin: 0;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .logo img {
  margin: 0;
}

/* line 1, ../sass/partials/design/blocks/_main-navigation.scss */
.menu {
  padding: 0;
  margin: 0;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 92%;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu {
    text-align: right;
    padding-top: 1.5em;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu {
  text-align: right;
  padding-top: 1.5em;
}
/* line 10, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li {
  list-style: none;
  margin: 0;
  display: block;
  padding: 0;
}
@media (min-width: 50em) {
  /* line 10, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li {
    display: inline-block;
    vertical-align: top;
    padding-right: 2em;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li {
  display: inline-block;
  vertical-align: top;
  padding-right: 2em;
}
/* line 20, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a {
  font-weight: 500;
  font-size: 1em;
  -webkit-transition: color .5s ease;
          transition: color .5s ease;
  padding: .75em 1em;
  display: block;
  color: #000;
  text-transform: uppercase;
}
@media (min-width: 50em) {
  /* line 20, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li a {
    padding: 0;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li a {
  padding: 0;
}
/* line 31, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a:hover {
  color: #d5121a;
}
/* line 34, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a:active {
  top: 1px;
  position: relative;
}
/* line 39, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li ul {
  position: absolute;
}
/* line 43, ../sass/partials/design/blocks/_main-navigation.scss */
.menu a, .menu a:visited {
  text-decoration: none;
}
/* line 46, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li li {
  padding: 0;
}

/* line 50, ../sass/partials/design/blocks/_main-navigation.scss */
.js .main-nav .menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease;
          transition: max-height .5s ease;
}
@media (min-width: 50em) {
  /* line 50, ../sass/partials/design/blocks/_main-navigation.scss */
  .js .main-nav .menu {
    max-height: none;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .js .main-nav .menu {
  max-height: none;
}
/* line 57, ../sass/partials/design/blocks/_main-navigation.scss */
.js .main-nav .menu.show {
  max-height: 500px;
}

/* line 61, ../sass/partials/design/blocks/_main-navigation.scss */
.js .menu-btn {
  padding: 1em;
  background: #d5121a;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
}
@media (min-width: 50em) {
  /* line 61, ../sass/partials/design/blocks/_main-navigation.scss */
  .js .menu-btn {
    display: none;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .js .menu-btn {
  display: none;
}
/* line 72, ../sass/partials/design/blocks/_main-navigation.scss */
.js .menu-btn img {
  padding-right: .5em;
}

/* line 76, ../sass/partials/design/blocks/_main-navigation.scss */
.no-js .menu-btn {
  display: none;
}

/* line 2, ../sass/partials/design/pages/_front.scss */
.front .preface-wrap {
  background: #ccc;
  background-image: -webkit-linear-gradient(269deg, #fcfcfc 16%, #d5d5d5 72%, #dedede 100%);
  background-image: linear-gradient(-179deg, #fcfcfc 16%, #d5d5d5 72%, #dedede 100%);
}
/* line 6, ../sass/partials/design/pages/_front.scss */
.front .preface {
  background: url(../images/bgs/grill.png) no-repeat center center;
  background-size: cover;
}
/* line 13, ../sass/partials/design/pages/_front.scss */
.front .postscript {
  background: #000;
  color: #fff;
  background: url(../images/bgs/postscript.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
/* line 23, ../sass/partials/design/pages/_front.scss */
.front section {
  padding: 5em 0;
}
/* line 25, ../sass/partials/design/pages/_front.scss */
.front section.work-section, .front section.postscript {
  padding: 10em 0 5em;
}
/* line 28, ../sass/partials/design/pages/_front.scss */
.front section.preface {
  padding: 5em 0 10em;
}
/* line 34, ../sass/partials/design/pages/_front.scss */
.front .location-block {
  background: #fff;
  padding: 2em 2em 2em 3em;
  position: relative;
  margin-top: 6em;
  -webkit-box-shadow: 2px 2px 24px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 2px 2px 24px 0px rgba(0, 0, 0, 0.23);
}
/* line 40, ../sass/partials/design/pages/_front.scss */
.front .location-block:before {
  content: '';
  position: absolute;
  background: #fff;
  height: 100%;
  width: 13px;
  left: 0;
  top: 0;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.12);
}
@media (min-width: 50em) {
  /* line 50, ../sass/partials/design/pages/_front.scss */
  .front .location-block.first {
    width: 44.68085%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .front .location-block.first {
  width: 44.68085%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 54, ../sass/partials/design/pages/_front.scss */
.front .location-block.first:after {
  content: '01';
  position: absolute;
  top: 0px;
  right: 40px;
  color: #EEEEEE;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 70px;
  font-weight: 300;
}
/* line 65, ../sass/partials/design/pages/_front.scss */
.front .location-block.last {
  margin-top: 3em;
}
@media (min-width: 50em) {
  /* line 65, ../sass/partials/design/pages/_front.scss */
  .front .location-block.last {
    margin-top: 6em;
    width: 44.68085%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .front .location-block.last {
  margin-top: 6em;
  width: 44.68085%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 71, ../sass/partials/design/pages/_front.scss */
.front .location-block.last:after {
  content: '02';
  position: absolute;
  top: 0px;
  right: 40px;
  color: #EEEEEE;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 70px;
  font-weight: 300;
}
/* line 82, ../sass/partials/design/pages/_front.scss */
.front .location-block h4 {
  text-transform: uppercase;
}
/* line 88, ../sass/partials/design/pages/_front.scss */
.front .gallery-slider {
  margin-top: 4em;
}
/* line 90, ../sass/partials/design/pages/_front.scss */
.front .gallery-slider button {
  position: absolute;
  top: 48%;
  -webkit-appearance: none;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  height: 41px;
  width: 41px;
  border: 0;
  z-index: 99;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/* line 101, ../sass/partials/design/pages/_front.scss */
.front .gallery-slider .slick-prev {
  background: url(../images/left.png);
  left: 20px;
}
/* line 105, ../sass/partials/design/pages/_front.scss */
.front .gallery-slider .slick-next {
  background: url(../images/right.png);
  right: 20px;
}
/* line 110, ../sass/partials/design/pages/_front.scss */
.front .gallery-slider .slick-slide {
  padding: 1em;
}

@media (min-width: 50em) {
  /* line 115, ../sass/partials/design/pages/_front.scss */
  .service-list-wrap {
    width: 61.70213%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .service-list-wrap {
  width: 61.70213%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 121, ../sass/partials/design/pages/_front.scss */
.service-info-wrap {
  position: relative;
}
@media (min-width: 50em) {
  /* line 121, ../sass/partials/design/pages/_front.scss */
  .service-info-wrap {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .service-info-wrap {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 126, ../sass/partials/design/pages/_front.scss */
.service-info-wrap:before {
  content: '';
  position: absolute;
  top: -10em;
  width: 100%;
  height: 200%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.28) 0%, #880409 91%);
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.28) 0%, #880409 91%);
}
/* line 134, ../sass/partials/design/pages/_front.scss */
.service-info-wrap .service-info {
  padding: 2em;
}
/* line 136, ../sass/partials/design/pages/_front.scss */
.service-info-wrap .service-info img {
  display: block;
  margin: 0 auto;
  padding-bottom: 3em;
}

/* line 144, ../sass/partials/design/pages/_front.scss */
ul.services-list {
  list-style: none;
  padding: 2em 0;
  margin: 0;
}
/* line 148, ../sass/partials/design/pages/_front.scss */
ul.services-list li {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #3F3F3F;
}
/* line 153, ../sass/partials/design/pages/_front.scss */
ul.services-list li:last-child {
  border-bottom: 1px solid #3F3F3F;
}
/* line 156, ../sass/partials/design/pages/_front.scss */
ul.services-list li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.65em 1em;
  font-size: 1.65em;
  font-family: "brandon-grotesque", sans-serif;
}

/* line 1, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper {
  background: black;
  color: #fff;
}
/* line 4, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper h6, .footer-wrapper a {
  color: #fff;
}

/* line 1, ../sass/partials/design/regions/_header.scss */
.header-wrapper {
  padding: 1em 0;
  background: white;
}

/* line 6, ../sass/partials/design/regions/_header.scss */
.logo {
  text-align: center;
}
@media (min-width: 50em) {
  /* line 6, ../sass/partials/design/regions/_header.scss */
  .logo {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .logo {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

@media (min-width: 50em) {
  /* line 12, ../sass/partials/design/regions/_header.scss */
  .main-nav {
    width: 65.95745%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .main-nav {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 1, ../sass/partials/design/regions/_main.scss */
main {
  padding: 0 0 2em;
}
/* line 13, ../../../../.rvm/gems/ruby-2.1.1/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 4, ../sass/partials/design/regions/_main.scss */
main section {
  padding: 3em 0;
}

/* line 10, ../sass/partials/design/regions/_main.scss */
.preface-wrap {
  background: #ccc;
  background-image: -webkit-linear-gradient(269deg, #fcfcfc 16%, #d5d5d5 72%, #dedede 100%);
  background-image: linear-gradient(-179deg, #fcfcfc 16%, #d5d5d5 72%, #dedede 100%);
}

/* line 14, ../sass/partials/design/regions/_main.scss */
.preface {
  background: url(../images/bgs/grill.png) no-repeat center center;
  background-size: cover;
  padding: 3em 0 4em;
}

/* line 23, ../sass/partials/design/regions/_main.scss */
.intro-text {
  font-size: 1.2em;
  padding-top: 1em;
}

/* line 28, ../sass/partials/design/regions/_main.scss */
.content-section {
  font-size: 1.2em;
}

/* line 32, ../sass/partials/design/regions/_main.scss */
.page-image--main {
  margin: -3em auto 2em;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  line-height: 0;
}
/* line 36, ../sass/partials/design/regions/_main.scss */
.page-image--main img {
  width: 100%;
}

/* line 1, ../sass/partials/design/regions/_body.scss */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
/* line 4, ../sass/partials/design/regions/_body.scss */
html body {
  margin: 0;
  height: 100%;
  background: white;
  overflow-x: hidden;
}

/* line 11, ../sass/partials/design/regions/_body.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* line 13, ../sass/partials/design/regions/_body.scss */
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}
/* line 13, ../../../../.rvm/gems/ruby-2.1.1/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/partials/design/regions/_body.scss */
.site-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 26, ../sass/partials/design/regions/_body.scss */
main, header, footer, section, aside {
  display: block;
}

/* line 1, ../sass/partials/design/views/_team.scss */
.team-list {
  padding-top: 2em;
}
/* line 3, ../sass/partials/design/views/_team.scss */
.team-list .person {
  padding-bottom: 3em;
}
@media (min-width: 50em) {
  /* line 3, ../sass/partials/design/views/_team.scss */
  .team-list .person {
    float: left;
    width: 50%;
    padding-right: 2em;
  }
}
/* line 92, ../../../../.rvm/gems/ruby-2.1.1/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .team-list .person {
  float: left;
  width: 50%;
  padding-right: 2em;
}
/* line 10, ../sass/partials/design/views/_team.scss */
.team-list .person img {
  width: 150px;
  height: auto;
  float: left;
}
/* line 16, ../sass/partials/design/views/_team.scss */
.team-list .info {
  overflow: hidden;
  padding-left: 1.5em;
}
/* line 19, ../sass/partials/design/views/_team.scss */
.team-list .info h4 {
  text-transform: uppercase;
  color: #d5121a;
  font-size: 1.2em;
  margin: 0 0 .5em;
}

/* line 2, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item {
  padding-bottom: 2em;
}
/* line 5, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .post-date {
  font-weight: 700;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
}
/* line 12, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item--content h3 {
  margin-top: 0;
}
/* line 15, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item--content .person {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: -5px;
  border: 2px solid #d5121a;
}
/* line 22, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item--content ul {
  list-style: none;
  padding: 0;
}
/* line 25, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item--content ul li {
  display: inline-block;
}
/* line 27, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item--content ul li.tag-label {
  background: #d5121a;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: .8rem;
}
/* line 32, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item--content ul li.tag-label a, .blog-wrapper .blog-item--content ul li.tag-label a:visited {
  color: #f1f1f1;
  text-decoration: none;
}
@media (min-width: 50em) {
  /* line 41, ../sass/partials/design/views/_blog.scss */
  .blog-wrapper .blog-item--image {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 44, ../sass/partials/design/views/_blog.scss */
  .blog-wrapper .blog-item--content {
    width: 65.95745%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 41, ../sass/partials/design/views/_blog.scss */
.no-mq .blog-wrapper .blog-item--image {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 44, ../sass/partials/design/views/_blog.scss */
.no-mq .blog-wrapper .blog-item--content {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
