input[type="submit"] {
	display: inline-block;
  text-decoration: none;
  text-align: center;
  @include btn($color-one, #fff, darken($color-one, 5%), 0, 90%);
  font-family: $heading-font-family;
  @include trans(all, linear, .2s);
  text-transform: uppercase;
	cursor: pointer;
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  padding: 0.75em 1.5em;
  margin-top: 1em;
  -webkit-appearance: none;

}
