form {
  label {
    //color: $heading-color;
    font-weight: 700;
    font-size: 110%;
    padding-bottom: .5em;
    text-transform: uppercase;
  }
  .description {
    font-size: 85%;
    margin: 1em 0;
  }
}

