.front {
  .preface-wrap {
    background: #ccc;
    background-image: linear-gradient(-179deg, #FCFCFC 16%, #D5D5D5 72%, #DEDEDE 100%);
        position: relative;

  }
  .preface {
    background: url(../images/bgs/grill.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
  }
	.postscript {
    background:  linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ), #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    &:after {
      display: block;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
      height: 300px;
      width: 100%;
      content: '';
      bottom: 0;
    }
    .videobg {
      position: absolute;
      width: 100%;
      margin-top: -10em;
      display: none;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        display: block;
      }
    }
  }


  section {
    padding: 5em 0;
    &.postscript {
      padding: 10em 0 5em;
    }
    &.work-section {
      padding: 6em 0 6em;
    }
    &.preface {
      padding: 5em 0 10em;
    }
  }

  // Location Blocks
  .location-block {
    background: #fff;
    padding: 2em 2em 2em 3em;
    position: relative;
    margin-top: 6em;
    box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.23);
    &:before {
      content: '';
      position: absolute;
      background:#fff;
      height: 100%;
      width: 13px;
      left: 0;
      top: 0;
      box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.12);
    }
    &.first {
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        @include grid-span(5.5,1);
      }
    }
    h4 {
      text-transform: uppercase;
    }
  }

  // Slider
  .gallery-slider {
    margin-top: 4em;
    button {
      position:absolute;
      top: 48%;
      -webkit-appearance: none;
      @include hide-text;
      height: 41px;
      width: 41px;
      border: 0;
      z-index: 99;
      box-shadow:0 0 10px rgba(0,0,0,0.4);
    }
    .slick-prev {
      background: url(../images/left.png);
      left: 20px;
    }
    .slick-next {
      background: url(../images/right.png);
      right: 20px;
    }
  }
  .gallery-slider .slick-slide {
    padding: 1em;
  }

  // Car Side
  .car-side {
    position: absolute;
    right: 0;
    max-width: 85%;
    bottom: 1em;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      top: 30%;
      bottom: auto;
      max-width: 50%;
    }
  }
}

.service-list-wrap {
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    @include grid-span(7.5,1);
    z-index: 1;
    position: relative;
  }

}

.service-info-wrap {
  position: relative;
  margin: 0 -2em;
  z-index: 111;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    @include grid-span(4,9);
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 200%;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.28) 0%, #880409 91%);
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      top: -10em;
    }
  }
  .service-info {
    padding: 2em;
    img {
      display:block;
      margin: 0 auto;
      padding-bottom: 3em;
    }
  }
}

ul.services-list {
  list-style: none;
  padding: 2em 0;
  margin: 0;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #3F3F3F;
    &:last-child {
      border-bottom: 1px solid #3F3F3F;
    }
    a {
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 0.65em 1em;
      font-size: 1.25em;
      font-family: $heading-font-family;
      transition: all .25s linear;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        font-size: 1.65em;
      }

      &:hover {
          color: #c51522;
        img {
          padding-right: 10px;
          transition: all .25s linear;
        }
      }
    }
    img {
      float: right;
      padding-top: 10px;
      transition: all .25s linear;
    }

  }
}


.hero {
  position: relative;
  z-index: 1;
  width: 100%; 
  height: 300px;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    height: 85vh;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 60px;
    background: url(../images/diagonal.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -1px;
    z-index: 1000;
  }
}
