.gallery-detail-node{
  padding: 5em 0 2em;
  position: relative;
  &:after {
  background: url(../images/bgs/grill.png) no-repeat center center; 
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    content: '';
    //background-color:rgba(0, 0, 0, 0.43);
    width: 100%;
    position: absolute;
    top: 0;
    height: 150px;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      height: 400px;
    }
  }
  &:before {
    background-image: linear-gradient(-179deg, #FCFCFC 16%, #D5D5D5 72%, #DEDEDE 100%);
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    height: 150px;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      height: 400px;
    }
  }
  .wrap {
    position: relative;
  }

}
.one3rd {
  max-width: 33%;
  float: right;
  margin: 0 0 1em 1em;
}
.gallery-title {
  //position: absolute;
  z-index: 1;
  //width: 100%;
  padding: 1em 2em;
  top: 0;
  margin: 0;
  //color: #fff;
  // background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.94) 100%);
  // background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.94) 100%);
  // background: linear-gradient(to top, rgba(0, 0, 0, 0.27) 0%, rgba(0, 0, 0, 0.94) 100%); 
  background:#fff;
}

.gallery-grid {
  list-style: none;
  margin: 0 0 3em;
  padding: 0;
  position: relative;z-index:1;
  li {
    list-style: none;
    display: inline-block;
    margin: 0;
    width: 20%;
    margin-right: 5px;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      width:15%;
    }
    &.first-grid-item {
      display: block;
      width: 100%;
      img {
        width: 100%;
      }
    }


  }
  #video {
    display: none;
  }
}

.gallery-content-section {
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
   @include grid-span(6,1);
  }
}
.gallery-service-section {
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
   @include grid-span(5.5,7.5);
  }
}