
// Location Node Styles

.services--details .content-section {
  padding-top: 3em;
  @include clearfix;
  .pricing-block {
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      float: left;
      width: 30%;
      padding-right: 3em;
    }
  }
  .service--detail-wrap{
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      overflow: hidden;
      max-width: 80%;
      margin: 0 auto;
    }
  }
  .gallery-grid {
    margin: 2em 0;
    li {
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        width:22%;
      }
    }
  }
  .table-title {
    //padding: 2em 0 0em;
    
  }
  hr {
    background: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 3em;
  }
  .service-description {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;

  }
}
.service-table {
  font-weight: 700;
  margin-bottom: 3em;
  padding-bottom: 1em;
  tr:nth-child(odd) {
    background: #E8E8E8;
  }
  tr:nth-child(even) {
    background: #F5F5F5;
  }
  td.price {
    color: #fff;
    width: 60px;
  }

  tr:nth-child(odd) td.price {
    background: #B60910;
  }
  tr:nth-child(even) td.price {
    background: #D5121A;
  }

}