.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
  position: relative;
  z-index: 999;
  margin-top: 52px;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    margin-top: 0;
  }
  .wrap {
    max-width: none;
  }
}

.logo {
  width: 200px;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(3,1,$gutter:0);
  }
}
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

