main {
  @include clearfix;
  padding: 0 0 2em;
  section {
    padding: 3em 0;
  }

}

.preface-wrap {
    background: #ccc;
    background-image: linear-gradient(-179deg, #FCFCFC 16%, #D5D5D5 72%, #DEDEDE 100%);
  }
.preface {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 6em 0 4em;
  position: relative;
  overflow: hidden;
      margin-bottom: 3em;

  &:before {
    content: '';
    background:rgba(0, 0, 0, 0.43);
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
  }
}

.interior-headings {
  z-index: 9;
  position: relative;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    width: 45%;
  }
  * {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    font-family: $heading-font-family;
  }
  p {
    font-size: 1.4em;
  }
}


.content-section {
  //font-size: 1.2em;
}

.page-image--main {
  margin: -3em auto 4em;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  line-height: 0;
  img {
    width: 100%;
  }
}

