---
layout: default
---
<div class="front">
<div id="block" style="width: 100%; height: 100vh;" data-vide-bg="assets/video/ocean" data-vide-options="position: 0% 50%"></div>

<div class="preface-wrap">
<section class="preface clearfix">
  <div class="wrap">
    <div class="headings">
      <h2 class="section-title">Locations</h2>
      <h3 class="section-subtitle">Serving Northern Colorado</h3>
    </div>
    <div class="location-block first editable">
      <h4>Greeley</h4>
      <p>3625 Whatever, <br>
        Greeley, CO.
      </p>
      <div class="btn outline"><a href="#">Book An Appointment</a></div>
    </div>
    <div class="location-block last editable">
      <h4>Loveland</h4>
      <p>3625 Whatever, <br>
        Greeley, CO.
      </p>
      <div class="btn outline"><a href="#">Book An Appointment</a></div>
    </div>
  </div>
</section>
</div>
<section class="clearfix">
  <div class="wrap clearfix">
    <div class="headings">
      <h2 class="section-title">Our Work</h2>
      <h3 class="section-subtitle">The Highest Quality Workmanship.</h3>
    </div>
  </div>
  <div class="gallery-slider">
    <div><img src="https://source.unsplash.com/random/400x400" /></div>
    <div><img src="https://source.unsplash.com/random/400x400" /></div>
    <div><img src="https://source.unsplash.com/random/400x400" /></div>
    <div><img src="https://source.unsplash.com/random/400x400" /></div>
    <div><img src="https://source.unsplash.com/random/400x400" /></div>
    <div><img src="https://source.unsplash.com/random/400x400" /></div>
    <div><img src="https://source.unsplash.com/random/400x400" /></div>
</div>
</section>
<section class="postscript clearfix">
  <div class="wrap">
    <h2 class="section-title">What We Do.</h2>
    <h3 class="section-subtitle">Award Winning. Certified. Professional.</h3>
    <p>Proin vestibulum, felis quis pellentesque finibus, nibh nulla volutpat leo, ut ultricies mauris massa id sem. Sed felis leo, lobortis ac dapibus non, interdum id arcu. Integer posuere risus eget laoreet vestibulum. Nulla egestas quam eleifend arcu tempus pulvinar. Praesent placerat, diam eu vehicula aliquam, diam lorem blandit mi, a maximus lectus nunc vel ligula.</p>
  </div>
</section>
</div>