---
layout: default
---
<div class="front">
  <!-- Video Header pulling from Front Matter -->
  <!-- <div id="block" style="width: 100%; height: 100vh;" data-vide-bg="{{ page.header_video_path }}" data-vide-options="position: 0% 50%"></div> -->
  <div class="videobg hero">
    <iframe src="https://player.vimeo.com/video/{{page.hero_video_vimeo_id}}?loop=1&autoplay=1&background=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

  <!-- Slider Using Slick -->
  <section class="clearfix work-section">
    <div class="wrap clearfix">
      <div class="headings">
        <h2 class="section-title">Our Work</h2>
        <h3 class="section-subtitle">The Highest Quality Workmanship.</h3>
      </div>
    </div>
    <div class="gallery-slider">
      {% assign items =  site.projects | sort: "weight" %}
      {% for gallery in items limit:8 %}
        <div>
          <a href="{{ gallery.url }}">
            <img src="{{site.cloudinaryurl}}image/fetch/w_400,h_400,c_fill/{{site.url}}{{ gallery.main_image_path }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

  <!-- Preface Are for Location Blocks  -->
  <div class="preface-wrap">
    <img src="/assets/images/car.png" class="car-side">
    <section class="preface no-rectangle clearfix">
      <div class="wrap">
        <div class="headings">
          <h2 class="section-title">Our Location</h2>
          <h3 class="section-subtitle">Serving Northern Colorado</h3>
        </div>

        {% for item in site.locations %}
        <div  itemscope itemtype="http://schema.org/LocalBusiness" class="location-block first editable">
            <h4 class="location--title" itemprop="name">{{ item.title }}</h4>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">{{ item.address }}</span><br>
                    <span itemprop="addressLocality">{{ item.city }}</span>,
                    <span itemprop="addressRegion">{{ item.state }}</span>
                    <span>{{ item.zip }}</span>
                </div>
            <span class="phone--location">{{item.phone}}</span>

          <div class="btn outline"><a href="/contact">Contact Us</a></div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>


  <div itemscope itemtype="http://schema.org/LocalBusiness" class="location-address">




  <!-- Service Section  -->
  <section class="postscript clearfix">
      <div class="videobg">
        <iframe src="https://player.vimeo.com/video/{{page.bottom_video_vimeo_id}}?loop=1&autoplay=1&background=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="wrap">
      <div class="service-list-wrap">
        <div class="headings">
          <h2 class="section-title">What We Do.</h2>
          <h3 class="section-subtitle">Award Winning. Certified. Professional.</h3>
        </div>
        <ul class="services-list">
          {% for services in site.services %}
            <li class="service-item">
              <a href="{{ services.url }}">{{ services.title }}<img src="/assets/images/arrow-red.png" alt=""></a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="service-info-wrap">
        <div class="service-info editable">
          <img src="/assets/images/small-badge.png" />
          <p>With well over 21 years of vehicle reconditioning experience combined between Ricque and Zack you can be rest assured you will receive the highest quality workmanship. </p>
          <p>We are also I.D.A. Certified, Xpel Paint Protection Certified Installers, Suntek Window Tint and Protection Film Certified Installers, Ceramic Pro Certified Installers and received many awards for our work.</p>
        </div>
      </div>
    </div>
  </section>
</div>
