---
layout: default
---


<main class="gallery-detail-node">
  <div class="wrap">

    <!-- Video & Images Grid -->
    <ul class="gallery-grid" data-featherlight-gallery data-featherlight-filter="a">
      <li itemscope class="grid-item first-grid-item">
         <a href="{{ page.main_image_path }}" >
          <img src="{{ page.main_image_path }}" />
        </a>
      </li>
        {% for item in page.images_and_videos %}
        <li itemscope class="grid-item">
          {% if item.large_image_path %} 
            <a class="gallery-item gallery" href="{{ item.large_image_path }}" >
          {% endif %}

          {% if item.youtube_id %} 
            <iframe class="lightbox"  width="560" height="315" src="https://www.youtube.com/embed/{{ item.youtube_id }} " frameborder="0" allowfullscreen id="video"></iframe>
            <a class="btn btn-default" href="#" data-featherlight="#video">
          {% endif %}
          
            <img class="gallery-img lrg" src="{{ item.teaser_image_path }}" alt="{{ item.title }}" itemprop="image">
          </a>
        </li>
      {% endfor %}
    </ul>

    


    <div class="gallery-content-section">
      <h1 class="section-title">{{ page.title }}</h1>
      <h3 class="section-subtitle">{{ page.subtitle }}</h3>
      <div class="intro-text"><p>{{ page.intro }}</p></div>
      <div class="content-section">{{ content }}</div>
    </div>
    {% if page.services %} 
      <div class="gallery-service-section">
        <ul class="service-list">
          {% for item in page.services %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</main>