---
layout: page
---
<section class="gallery-wrapper">
  {% assign items =  site.projects | sort: "weight" %}
  {% for gallery in items %}
    <article class="gallery-item clearfix">
      <div class="gallery-item--image">
        {% if gallery.main_image_path %}
         <a href="{{ gallery.url }}">
            <img src="{{site.cloudinaryurl}}/image/fetch/w_700,h_400,c_fill/{{ site.url }}/{{ gallery.main_image_path }}" alt="{{ gallery.title }}" title="{{ gallery.title }}">
          </a>
        {% endif %}
      </div>
      <div class="gallery-item--content">
        <a href="{{gallery.url}}" title="{{ gallery.title }}">
          <h2>{{ gallery.title }}</h2>
        </a>
      </div>
    </article>
  {% endfor %}
</section>
