---
layout: page
---

<section class="gallery-wrapper">
  {% for gallery in site.projects %}
    <article class="gallery-item clearfix">
      <div class="gallery-item--image">
        {% if gallery.main_image_path %}
         <a href="{{ gallery.url }}">
              <img
                src="https://res.cloudinary.com/variant-studios/image/fetch/c_limit,w_800,q_auto,f_auto/http://maraschino-cherry.cloudvent.net/{{ gallery.main_image_path }}"
                srcset="https://res.cloudinary.com/variant-studios/image/fetch/c_limit,w_320,q_auto,f_auto/http://maraschino-cherry.cloudvent.net/{{ gallery.main_image_path }} 320w,https://res.cloudinary.com/variant-studios/image/fetch/c_limit,w_640,q_auto,f_auto/http://maraschino-cherry.cloudvent.net/{{ gallery.main_image_path }} 640w,https://res.cloudinary.com/variant-studios/image/fetch/c_limit,w_960,q_auto,f_auto/http://maraschino-cherry.cloudvent.net/{{ gallery.main_image_path }} 960w,https://res.cloudinary.com/variant-studios/image/fetch/c_limit,w_1280,q_auto,f_auto/http://maraschino-cherry.cloudvent.net/{{ gallery.main_image_path }} 1280w,https://res.cloudinary.com/variant-studios/image/fetch/c_limit,w_1600,q_auto,f_auto/http://maraschino-cherry.cloudvent.net/{{ gallery.main_image_path }} 1600w"
                sizes="100%"
                alt="{{ gallery.title }}" title="{{ gallery.title }}"
    
              />
          </a>
        {% endif %}


      </div>
      <div class="gallery-item--content">
        <a href="{{gallery.url}}" title="{{ gallery.title }}">
          <h2>{{ gallery.title }}</h2>
        </a>
      </div>
    </article>
  {% endfor %}
</section>