---
layout: default
---


<main class="gallery-detail-node">
  <div class="wrap">
    <h1 class="gallery-title">{{ page.title }}</h1>


    <!-- Video & Images Grid -->
    <ul class="gallery-grid" data-featherlight-gallery data-featherlight-filter="a">
      <li itemscope class="grid-item first-grid-item">
         <a href="{{ page.main_image_path }}" >
          <img src="{{ page.main_image_path }}" />
        </a>
      </li>
        {% for item in page.images_and_videos %}
        <li itemscope class="grid-item">
          <a class="gallery-item gallery" href="{{ item.image_path }}" >

          {% if item.youtube_id %}
            <iframe class="lightbox"  width="560" height="315" src="https://www.youtube.com/embed/{{ item.youtube_id }} " frameborder="0" allowfullscreen id="video"></iframe>
            <a class="btn btn-default" href="#" data-featherlight="#video">
          {% endif %}

            <img class="gallery-img lrg" src="{{ site.cloudinaryurl }}image/fetch/w_300,h_300,c_fill/{{ site.url }}/{{ item.image_path }}" alt="{{ item.title }}" itemprop="image">
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="gallery-content-section">
      <h3 class="section-subtitle">{{ page.subtitle }}</h3>
      <div class="intro-text"><p>{{ page.intro }}</p></div>
      <div class="content-section">{{ content }}</div>
    </div>
    {% if page.services %}
      <div class="gallery-service-section">
        <ul class="service-list">
          {% for item in page.services %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="wrap">

     <ul class="pager">
         {% if page.previous.url %}
         <li class="previous left">
             <a class="prev" href="{{page.previous.url}}">&laquo; {{ page.previous.title | truncate: 50 }}</a> {% endif %} {% if page.next.url %}
         </li>{% endif %}
          {% if page.next.url %}
         <li class="next right">
             <a class="next" href="{{page.next.url}}">{{ page.next.title | truncate: 50 }} &raquo;</a>
         </li>
     </ul>
     {% endif %}
  </div>
</main>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58af7cca5245f57c"></script> 
