---
layout: default
---

<main class="layout--location">

  <!-- Header Image with NO text overlay -->
  {% if page.header_image_path %}
  <div class="preface" style="background-image: url({{ page.header_image_path}}); position: relative; z-index: 1;">
    <div class="wrap">
      <div class="interior-headings">
        <h1 class="section-title">{{ page.title }}</h1>
        <!-- <h3 class="section-subtitle">{{ page.subtitle }}</h3>
        <div class="intro-text">
          <p>{{ page.intro }}</p>
        </div> -->
      </div>
    </div>
  </div>
  {% endif %}

  <!-- 2 Column Layout -->
  <div class="wrap content-section">

    <div class="col-1">
      <h2>Address:</h2>
      <p class="address-p">
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">{{ page.address }}</span><br>
          <span itemprop="addressLocality">{{ page.city }}</span>,
          <span itemprop="addressRegion">{{ page.state }}</span>
          <span itemprop="postalCode">{{ page.zip }}</span>
        </span>
      </p>
      <!-- Phone -->
      {% if page.phone %}
      <p class="address-p">
        <a href="tel:{{page.phone}}">{{page.phone}}</a>
      </p>
      {% endif %}
      <!-- email -->
      {% if page.email %}
      <p class="address-p">
        <a href="mailto:{{page.email}}">{{page.email}}</a>
      </p>
      {% endif %}

      <!-- Hours List -->
      <h2>Hours:</h2>
      <ul class="hours--location">
        {% for item in page.hours %}
        <li>{{ item.day }}</li>
        {% endfor %}
      </ul>

      <!-- Google Map -->
      {% if page.map %}
      <div class="google-map">
        <iframe src="{{ page.map }}" width="100%" height="450" frameborder="0" style="border:0"
          allowfullscreen></iframe>
      </div>
      {% endif %}

      {{ content }}

      {% include gallery.html %}

    </div>

    <!-- Map Embed  -->
    <div class="map-embed col-2">

      <iframe src="{{ page.form }}" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="1260px"
        width="100%"></iframe>
    </div>

  </div>
</main>