---
layout: default
---

<main class="layout--location">
  
  <!-- Header Image with NO text overlay -->
  {% if page.header_image_path %}
    <figure class="page-image--main">
      <img src="{{ page.header_image_path}}">
    </figure>
  {% endif %}
  
  <!-- 2 Column Layout -->
  <div class="wrap content-section">
      
      <div class="col-1">
        <h1 class="section-title">{{ page.title }}</h1>
        <h3 class="section-subtitle">{{ page.subtitle }}</h3>
        <h4 class="phone--location">{{page.phone}}</h4>
        
        <!-- Hours List -->
        <h4 class="hours--label">Hours:</h4>
        <ul class="hours--location">
          {% for item in page.hours %}
          <li>{{ item.title }}</li>
          {% endfor %}
        </ul>
        {{ content }}

         <!-- Video & Images Grid -->
        <ul class="gallery-grid">
          {% for item in page.images_and_videos %}
            <li itemscope class="grid-item">
              {% if item.large_image_path %} 
                <a class="gallery-item" href="#" data-featherlight="{{ item.large_image_path }}">
              {% endif %}

              {% if item.youtube_id %} 
                <iframe class="lightbox"  width="560" height="315" src="https://www.youtube.com/embed/{{ item.youtube_id }} " frameborder="0" allowfullscreen id="video"></iframe>
                <a class="btn btn-default" href="#" data-featherlight="#video">
              {% endif %}
              
                <img class="gallery-img lrg" src="{{ item.teaser_image_path }}" alt="{{ item.title }}" itemprop="image">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

       <!-- Map Embed  -->
      <div class="map-embed col-2">
        <iframe src="{{ page.map_embed }}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

  </div>
</main>
