---
layout: default
---

<main class="services--location">
  
  <!-- Header Image with NO text overlay -->
  {% if page.header_image_path %}
    <figure class="page-image--main">
      <img src="{{ page.header_image_path}}">
    </figure>
  {% endif %}
  
  <!-- 2 Column Layout -->
  <div class="wrap content-section">
      
      <div class="col-1">
        <h1 class="section-title">{{ page.title }}</h1>
        <h3 class="section-subtitle">{{ page.subtitle }}</h3>
        {{ content }}
      </div>
      <div class="col-2">
        <!-- Service Table Prcing and Option Table -->
        <div class="service-option-block editable">
         <h4>Pricing Options</h4>
         <p>At Auto Spa of Greeley and Loveland we have setup our packages and options to try our best to meet everyone’s requirements and needs when it comes to a vehicle coating. We have packages available ranging from a 1 year coating at $299 to a lifetime or even a self healing coating for $2999(depending on vehicle). It’s always best to call or stop in the shop to discuss options and pricing.</p>
        </div>

        {% include gallery.html %}

      </div>
  </div>
</main>
{% include book-appointment.html %}