---
layout: default
---

<main class="services--location">
  
  <!-- Header Image with NO text overlay -->
  {% if page.header_image_path %}
    <figure class="page-image--main">
      <img src="{{ page.header_image_path}}">
    </figure>
  {% endif %}
  
  <!-- 2 Column Layout -->
  <div class="wrap content-section">
      
      <div class="col-1">
        <h1 class="section-title">{{ page.title }}</h1>
        <h3 class="section-subtitle">{{ page.subtitle }}</h3>
        {{ content }}
      </div>
      <div class="col-2">
        <!-- Service Table Prcing and Option Table -->
        <table class="service-table">
          <tbody>
          {% for item in page.service-table %}
            <tr>
              <td>{{item.option}}</td>
              <td class="price">{{item.price}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        {% include gallery.html %}

      </div>
  </div>
</main>
{% include book-appointment.html %}