---
layout: default
---

<main class="services--location">
  
  <!-- Header Image with NO text overlay -->
  {% if page.header_image_path %}
    <figure class="page-image--main">
      <img src="{{ page.header_image_path}}">
    </figure>
  {% endif %}
  
  <!-- 2 Column Layout -->
  <div class="wrap content-section">
      
      <div class="">
        <h1 class="section-title">{{ page.title }}</h1>
        <h3 class="section-subtitle">{{ page.subtitle }}</h3>
        {{ content }}

                <!-- Service Table Prcing and Option Table -->
       {% for item in page.service-table %}
       <h3>{{ item.title }}</h3>
       <p>{{ item.desc }}</p>
        <table class="service-table">
          <tbody>
            <tr>
              <td>{{ item.options }}</td>
              <td class="price">{{item.price}}</td>
            </tr>
          </tbody>
        </table>
        {% endfor %}

         {% include gallery.html %}



      </div>
  </div>
</main>
{% include book-appointment.html %}