---
layout: default
---

<main class="services--details">
  <!-- Header Image with NO text overlay -->
  {% if page.header_image_path %}
    <figure class="page-image--main">
      <img src="{{ page.header_image_path}}">
    </figure>
  {% endif %}

  <!--- Services WITH Pricing Tables -->
    <div class="wrap content-section">

        {% if page.pricing %}
          <div class="pricing-block">
            <h4>Pricing:</h4>
            <p>{{ page.pricing }}</p>
          </div>
        {% endif %}

        <div class="service--detail-wrap">
          <h1 class="section-title">{{ page.title }}</h1>
          <h3 class="section-subtitle">{{ page.subtitle }}</h3>
          <div class="service-description">{{ content }}</div>

          <!-- Service Table Prcing and Option Table -->
            {% for item in page.service-table %}
              {% if item.group %}<h3 class="table-title">{{ item.group }}</h3>{% endif %}
              {% if item.desc %}<p>{{ item.desc }}</p>{% endif %}
              {% if item.desc %}
              <table class="service-table">
                <tbody>
                    {% for options in item.options %}
                  <tr>
                    {% if options.option %}<td>{{ options.option }}</td>{% endif %}
                    {% if options.price %}<td class="price">{{ options.price }}</td>{% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <hr>
              {% endif %}
            {% endfor %}
          

          {% include gallery.html %}
      </div> 
    </div>

</main>
