---
layout: page
---

<section class="store-wrapper">
    {% assign collection = site.products | group_by: "group" %} {% for group in collection %}
    <h2 class="store-group-labels">{{ group.name }}</h2>
     {% assign items = group.items | sort: "weight" %}
    {% for item in items %}
    <article class="product-item clearfix">
         <a href="{{ item.url }}" title="{{ item.title }}">
            <div class="product-item--image">
                {% if item.image_path %}
                <img src="{{ item.image_path }}" alt="{{ item.title }}" title="{{ item.title }}"> {% endif %}
            </div>
            <div class="product-item--content">
                <h4>{{item.price_range}}</h4> {% if item.description %}
                <p>{{ item.description }}</p>
                {% endif %}
            </div>
            </a>
        </article>
      {%endfor%}
  {%endfor%}
</section>
