---
layout: page
---

<section class="store-wrapper">
    {% for gc in site.products %}
    {% if gc.group =="Gift Certificate" %}


    <article class="clearfix gift-card">
        <div class="product-item--image">
          {% if gc.image_path %}
          <a class="snipcart-add-item" class="snipcart-add-item" data-item-id="{{gc.product_id}}" data-item-name="{{ gc.title }}" data-item-price="{{gc.base_price}}" data-item-weight="0" data-item-url="{{site.url}}{{gc.url}}"
          data-item-custom1-name="Gift Certificate Amounts" data-item-custom1-options="{% for addons in gc.add_ons %}{{addons.title}}{% if  addons.price %}[+{{addons.price}}]{%endif%}{% unless forloop.last %}|{% endunless %}{% endfor %}">
            <img src="{{ gc.image_path }}" alt="{{ gc.title }}" title="{{ gc.title }}">
          </a>
          {% endif %}
        </div>
        <div class="gift-card-content">
         <h2>{{gc.title}}</h2>
          <h4>${{gc.base_price  }}</h4>
           <p>{{ gc.description }}</p>

          {% if content %}
            <p>{{ content }}</p>
          {% endif %}
                <div class="buy-now">
          <a class="snipcart-add-item" class="snipcart-add-item" data-item-id="{{gc.product_id}}" data-item-name="{{ gc.title }}" data-item-price="{{gc.base_price}}" data-item-weight="0" data-item-url="{{site.url}}{{gc.url}}"
          data-item-custom1-name="Gift Certificate Amounts" data-item-custom1-options="{% for addons in gc.add_ons %}{{addons.title}}{% if  addons.price %}[+{{addons.price}}]{%endif%}{% unless forloop.last %}|{% endunless %}{% endfor %}">Buy Now</a></div>
        </div>
      </article>

    {% endif %}
    {% endfor %}

    {% assign collection = site.products | group_by: "group"  %} {% for group in collection %}    {% if group.name !="Gift Certificate" %}
    <h2 class="store-group-labels">{{ group.name }}</h2>{%endif%}
     {% assign items = group.items | sort: "weight" %}
    {% for item in items %}
    {% if item.group !="Gift Certificate" & item.hide != "true" %}
      <article class="product-item clearfix">
         <a href="{{ item.url }}" title="{{ item.title }}">
            <div class="product-item--image">
                {% if item.teaser.image_path %}
                <img src="{{ site.cloudinaryurl }}image/fetch/w_357,h_228,c_fill/{{ site.url }}/{{ item.teaser.image_path }}" alt="{{ item.title }}" title="{{ item.title }}"> {% endif %}
                <div class="product-image-caption">
                  <h4>{{ item.teaser.top_title }}</h4>
                  <h2>{{ item.teaser.bottom_title }}</h2>
                </div>
            </div>
            <div class="product-item--content">
                <h4>{{item.price_range}}</h4> {% if item.teaser.short_description %}
                <p>{{ item.teaser.short_description }}</p>
                {% endif %}
            </div>
          </a>
        </article>
      {%endif%}
    {%endfor%}
  {%endfor%}
</section>
